@import url('https://fonts.googleapis.com/css2?family=Kumbh+Sans:wght,YOPQ@100..900,300&display=swap');




.header{
    width: 100%;
    display: flex;
    position: sticky;
    top: 0;
    background-color: white;
}

.list{
        display: block;
        position: relative;
        font-size: 12px;
        font-weight: bold;
        color: #b6bcc8;
        top: -5px;
        left: 0;
    }

.list-search:hover{
    border-bottom:2px solid #ff7d1a;
    padding-bottom: 6px;
    transform:translateY(1%);
    transition:0.25s ease-in-out;
}

  .nav{
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 10px 4em;
    position: sticky;
    top: 0;
    background-color:white;
    min-height: 40px;
}

.nav-content{
    width: 100%;
    display: flex;
    justify-content: space-between;
}

.hr{
   width: 100%;
   background-color: #b6bcc8;
}

.logo{
    width: 6rem;
    margin-right: 1.5rem;
}

.nav-list,
.list,
.nav-left,
.nav-right{
    margin: 0;
    padding: 0;
    list-style: none;
    display: flex;
    align-items: center;
    gap: 10px;
}

.nav-list{
    gap: 0;
}

img{
    display: block;
}

.cart-header{
        width: 16px;
        height: 16px;
    }
 
.other-list{
    display: flex;
    width: 100%;
    gap: 1.5rem;
} 

.cart-items-no{
    position: absolute;
    top: -4px;
    right: -4px;
    background: #ff7d1a;
    color: white;
    width: 10px;
    height: 10px;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 0.57rem;
    font-weight: 700;
}

.nav-right{       
        margin-left: auto;
    }

.avatar{
        width: 32px;
        margin-left:1.5rem ;
        border-radius: 50%;
        transition: transform 0.25s ease,
    }

.avatar:hover{
        border: 2px solid #ff7d1a;
        transform: scale(1.05);
    }


.hambuger{
    display:none
}


@media (min-width:1200px) {

     .nav{
        padding:10px 8rem;
    }
}


@media (max-width:785px) {
    .nav{
        padding: 10px 2rem;
    }

    .avatar{
        margin-left:1rem;
    }

    .logo{
        margin-right:1rem;
    }

    .other-list{
        gap:1rem;
    }
}

@media(max-width:550px){

    .other-list{
        display: none;
    }
    .hambuger{
    display:block;
    margin-right: 1rem;
}
    .nav{
        padding: 10px;
    }
}

@media(max-width:450px) {
  .nav{
    width: 100%;
    display: flex;
    align-items: center;
    position: sticky;
    z-index: 50;
}

.list{
    top:0;
}

 .hambuger{
    display:block;
    padding-top: 5px;
}

img{
    display: block;
}

.logo{
    width:auto;
    max-width: 100%;
}

.other-list{
    display: none;
}

.cart-header{
        width: 16px;
        height: 16px;
    }

  
.cart-items-no{
    top: -4px;
    right: -4px;
}

.nav-left{
    display: flex;
    align-items: center;
    gap:10px;
}

.nav-right{
        margin-left: auto;
        gap: 10px;
    }

.avatar{
        width: 24px;
    }
}