
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* 3. Set core body defaults */
body {
  font-family: 'Kumbh Sans', sans-serif;
  min-height: 100%;
  line-height: 1.5;
  -webkit-font-smoothing: antialiased;
   overflow-y: scroll;
}


ul,
ol {
  list-style: none;
}

a {
  text-decoration: none;
  color: inherit;
}

button {
  border: none;
  background: none;
  cursor: pointer;
}