.main{
    display: flex;
    width: 100%;
    height: 100%;
    overflow-y: hidden;
    gap: 1rem;
    padding:2rem 8rem;
    justify-content: center;
    align-items: center;
    z-index: -20;
}

.product-info h1{
         font-size: 1.2rem;
    }

.company{
    color: #68707d;
    line-height: 1.5;
    letter-spacing: 1px;
    font-size: 0.7em;
    font-weight: bold;
}


.product-image {
    width: 20em;
    border-radius: 20px;
    }

.product-info{
        width: 70%;
        padding:20px;
        display:flex;
        gap: 1rem;
        flex-direction: column;
        padding-bottom: 2rem;
        z-index: -20;
    }

.product-name{
    font-size: 1.5em;
    line-height: 1.2;
    font-weight: bold;
}

.product-description{
    color: #68707d;
     line-height: 1.5;
    font-size: 0.7em;
}

.button-items{
    display: flex;
    gap: 1.2em;
    align-items: center;
    width: 100%;}


.prev img {
    width: 9px;
    height: 14px;
}

.next img {
    width: 9px;
    height: 14px;
}
.alert{
    display: none;
}


.alert{
    display: none;
}

.alert-success{
  position: fixed;
  top: 5rem;
  right: 40%;
  color: #1db954;
  background-color: white;
  padding: 15px 25px;
  border-radius: 8px;
  font-weight: bold;
  box-shadow: 0 4px 10px rgba(0,0,0,0.2);
  animation: slideIn 0.3s ease;
}


@keyframes slideIn {
  from {
    opacity: 0;
    transform: translateY(-20px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}


@media(max-width:1000px){
    .button-items{
    flex-direction: column;
    gap: 1.2em;
    align-items: center;
    width: 100%;}
    .main{
        padding: 2rem 4rem;
    }
}

@media (max-width:785px){

    .product-info h1{
         font-size: 30px;
    }
    .main{
        padding: 2rem;
        gap:10px;
        z-index:-1;
    }
}

@media (max-width:700px) {
    .main{
        display: flex;
        flex-direction: column;
        align-items: center;
    }

     .product-image {
    position: relative;
    border-radius:1.5rem;
    width: 25em;
    } 

    .product-info{
        gap:2rem;
    }
}

@media (max-width:450px) {
    .main{
        flex-direction: column;
        gap:0;
        z-index: -5;
        padding: 0;
        overflow-y: scroll;
    }

    .product-image {
    position: relative;
    border-radius: 0;
    width: 100%;
    }  

    .product-info{
        padding:20px;
        display:flex;
        gap: 1.2em;
        flex-direction: column;
        padding-bottom: 2rem;
    }

    .price{
       display: flex;
       justify-content: space-between;
       align-items: center;
    }

    .button-items{
        flex-direction: column;
        width: 100%;
        gap: 1.2em;
    }

    .alert-success{
         top: 5rem;
         right: 15%;
    }
}

